# Dependencies
node_modules
.pnp
.pnp.js

# Netlify
.netlify
.env
.env.*

# Build output
dist
build

# Local development
.DS_Store
.vscode/
.idea/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Netlify folder
.netlify
node_modules/
